* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

th, td {
    padding: 10px;
    text-align: center;
}

input[type="number"] {
    width: 70px;
    padding: 5px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}

.result {
    margin: 20px 0px;
    
    display: none;
}

.result h2 {
    text-align: center;
    margin-bottom: 10px;
}

.result p {
    font-size: 18px;
    margin-bottom: 5px;
}
